/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add space below paragraphs */
p {
  margin-bottom: 1.6rem;
  line-height: 1.6; /* Adjust this value to increase or decrease the space between lines of text */
}

/* Add space around images */
img {
  margin: 1.6rem 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/* Image slider */
.image-slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.image-slider img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.image-slider img.visible {
  opacity: 1;
}

/* Tab styles */
.tab {
  display: none;
}

.tab-btn-container {
  display: flex;
  margin-bottom: 1rem;
}

.tab-btn {
  flex: 1;
  cursor: pointer;
  padding: 1rem;
  background-color: #ddd;
  text-align: center;
  border: 1px solid #ccc;
}

.tab-btn:hover {
  background-color: #eee;
}

.tab-btn.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

/* Team member styles */
.person {
  margin-bottom: 20px; /* Add space below each person container */
}

.person img {
  max-width: 150px;
  height: auto;
  margin-right: 20px; /* Add space to the right of the image */
}


