.image-slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.image-slider img {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.image-slider img.visible {
    opacity: 1;
}


/* Add space below paragraphs */
p {
  margin-bottom: 3.5rem;
}

/* Add space around images */
img {
  margin: 3.5rem 0;
}
