/* Reset default margin and padding for all elements */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 100px; /* Adjust this value to set the desired margin size */
  font-family: Arial, sans-serif; /* Set the font family to Arial */
}

/* Add space below paragraphs */
p {
  margin-bottom: 1.6rem;
  line-height: 2.6; /* Adjust this value to increase or decrease the space between lines of text */
}

/* Add space around images */
img {
  margin: 1.6rem 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/* Image slider */
.image-slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.image-slider img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.image-slider img.visible {
  opacity: 1;
}

/* Tab styles */
.tab {
  display: none;
}

.tab-btn-container {
  display: flex;
  margin-bottom: 1rem;
}

.tab-btn {
  flex: 1;
  cursor: pointer;
  padding: 1rem;
  background-color: #ddd;
  text-align: center;
  border: 1px solid #ccc;
}

.tab-btn:hover {
  background-color: #eee;
}

.tab-btn.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

/* Team member styles */
.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.person {
  text-align: left;
}

.person img {
  max-width: 150px;
  height: auto;
}


/* Navbar styles */
.navbar {
  background-color: #f8f8f8; /* Adjust the color as desired */
  padding: 10px; /* Adjust the padding as desired */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: add a subtle shadow */
}

.tabs {
  display: flex;
  justify-content: right; /* Optional: center the tabs */
}

.tabs a {
  margin-right: 10px; /* Adjust this value to increase or decrease the space between tabs */
  padding: 5px 10px; /* Adjust the padding for a more comfortable tab size */
  text-decoration: none; /* Remove the underline */
  color: #333; /* Adjust the link color as desired */
}

.tabs a:hover {
  background-color: #eee; /* Adjust the background color for the hover effect */
  border-radius: 3px; /* Optional: add some border-radius for a rounded appearance */
}

header h1,
header h3 {
  margin-top: 20px; /* Adjust this value to increase or decrease the space before the headers */
}


